
<div class="container">

  <h1>cocktails</h1>

  <% @cocktails. each do |cocktail| %>
  <p><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
  <% end %>
  <br>
  <%= link_to "new cocktail", new_cocktail_path  %>
</div>
