// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";


.container{
  text-align: center;
}
body{
  background-image: url("https://t4.ftcdn.net/jpg/01/14/25/15/240_F_114251594_EDkfaF01kG3OrXAT18iljPmflVHMDMqI.jpg");
  background-size: cover;
}
.btn{
  border-radius: 4px;
}
a{
  color: black;
}
a:hover{
  color: black;
}
